{% extends 'base.html' %}

{% block content %}
<h1>Choose your words carefully!</h1>

<form action="/madlib">
  Choose a person: <input type="text" name="person"><br>
  Choose a color: <select name="color">
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                    </select><br>
  Choose a noun: <br>
    <input type="radio" name="noun" value="dog">Dog<br>
    <input type="radio" name="noun" value="cat">Cat<br>
    <input type="radio" name="noun" value="wombat">Wombat<br>
  Choose a adjective: <br>
    <input type="checkbox" name="adjective" value="slinky">Slinky<br>
    <input type="checkbox" name="adjective" value="stinky">Stinky<br>
    <input type="checkbox" name="adjective" value="sticky">Sticky<br>
  <input type="submit">
</form>
{% endblock %}

